html {
    background-image: url(background.gif);
    background-size: cover;
    height: 100%;
    width: 100%;
}

#buttonstart {
    width: 300px;
    height: 60px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid rgb(150, 138, 138);
    color: rgb(214, 204, 204);
    font-size: 20px;
    text-shadow: 0px 0px 10px rgb(208, 214, 214);
    position: absolute;
    top: 70%;
    left: 42%;
}
#buttonstart:hover{
    transform: (1.1);
 
}